body {
  /* background-image: url('pbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  background-color: #E8CCCB;
  color: #4E4E4E;
}

* {
  font-family: 'M PLUS 1p', sans-serif;

}
/* footer: FBE3CC */